<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
        http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
  <display-name>Servlet 2.5 Web Application</display-name>
  <servlet>

    <servlet-name>Auth</servlet-name>
    <servlet-class>JDBC.controller.AuthController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Auth</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
<servlet>
  <servlet-name>Register</servlet-name>
  <servlet-class>JDBC.controller.RegisterController</servlet-class>
</servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Todo</servlet-name>
    <servlet-class>JDBC.controller.TodoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Todo</servlet-name>
    <url-pattern>/todo</url-pattern>
  </servlet-mapping>
</web-app>


